* {
    box-sizing: border-box;;
}

body {
    background-color: #1f2833;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 700px;
    width: 700px;
    border: 5px solid #66fcf1;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
}
