* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-container {
    max-width: 1920px;
    margin: auto;
    background-color: #1f2937;
}

.header {
    height: 500px;
    max-width: 1280px;
    margin: auto;
    background-color: #1f2937;
    padding: 30px;
}

#h3 {
    color: #f9faf8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

#h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

#p {
    color: #e5e7eb;
    font-size: 18px;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.hero-text-container {
    height: 250px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.button {
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px 40px;
    background-color: #3882f6;
    border-color: #3882f6;
    color: #f9faf8;
    font-weight: 900;
}

.image-container {
    height: 250px;
    width: 500px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.box-one {
    margin-top: 40px;
    height: 200px;
    width: 200px;
    border: 4px solid #3882f6;
    border-radius: 15px;
    background-color: f9faf8;
    margin-bottom: 10px;
}

.p {
    color: #1f2937;
    font-size: 18px;
}


